#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}
.app {
  padding: 30px;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.divider {
  width: 90%;
  margin: 0 auto 30px auto;
  border: 2px solid #888;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.card {
  background-color: white;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}
.card-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.card-content {
  padding: 15px;
}
.card-country {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
  color: #000;
}
.card-resort {
  color: gray;
  margin-bottom: 10px;
}



.card-rating {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 6px;
}

.star {
  font-size: 1rem;
}

.card-price {
  color: #888;
  font-size: 0.95rem;
}





